<!DOCTYPE html>
<html>
<head>
	<title>WebDxD Student</title>
</head>
<body ng-app="Webdxd" ng-controller="AppCtrl as app">

	<div ng-repeat="student in app.student">
		<h1 ng-click="app.selectStudent(student)">{{student.firstname}}
		</h1>
	</div>

	<button ng-click="app.addNew()">{{app.addNewButton}}</button>

	<hr>
	<h2>Details:</h2>

	<div>
		<h2 ng-show="app.fullName">Name: {{app.fullName}}</h2>

		<h2 ng-show="app.email">Email: {{app.email}}</h2>

		<h2 ng-show="app.age">Age: {{app.age}}</h2>
	</div>

	<form novalidate name="myForm" ng-show="app.flag">

		<input type="text" name="firstname" placeholder="First Name" ng-model="app.newStudent.firstname">
		<input type="text" name="lastname" placeholder="Last Name" ng-model="app.newStudent.lastname">
		<input type="email" name="email" placeholder="Email" ng-model="app.newStudent.email">
		<input type="number" name="age" placeholder="Age" ng-model="app.newStudent.age">
		<button ng-click="app.submitForm()">Submit</button>
		<br>
		<span ng-show="myForm.input.$error.required">
        Required!
        </span>
		<span ng-show="myForm.input.$error.email">
        Not a valid email!
        </span>

	</form>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
	<script src="app.js" type="text/javascript"></script>
</body>
</html>